@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Zen+Kurenaido&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(233, 205, 184);
}
.content{
    background: #fff;
    border-radius: 15px;
    height: 50%;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.content::before {
    content: "";
    position: absolute;
    background-color: coral;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;



    left: 0%;
}
.title{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-welcome{
    color: white;
}
.title-second{
    color: coral;
}
.description{
    font-size: 14px;
    font-weight: 300px; 
    line-height: 30px;
}
.description-primary{
    color: white;
}
.description-second{
    color: coral;
}
.btn{
    border-radius: 15px;
    text-transform: Coral;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem ;
}
.btn-primary{
background-color: transparent;
border: 1px solid #fff;
transition: background-color 0.5s;

}
.btn-primary:hover{
    background-color: white;
    color: coral;
}
.btn-second:hover{
background-color: white;
border: 1px solid coral;
color: coral
}
.btn-second{
   background-color: coral;
   color: white;
   border: 1px solid white;
   transition: background-color 0.5s;
}
.second-colum{
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.second-content{
    position: absolute;
    display: flex;
    
}
.second-content .first-colum{
    z-index: -1;
    order: 2;
}
.second-content .second-colum{
    order: 1;
  
    z-index: -1;
}
.first-colum{
   text-align: center;
  width: 40%;
   z-index: 10;
}
.first-content{
    display: flex;
    
}
.first-content .second-colum{
    z-index: 12;
}
.list-SM{
    display: flex;
    list-style-type: none;
    
}
.link-SM:hover .item-SM{
    background-color: coral;
    color: white;
    border-color: coral;
     


}
.link-SM .item-SM{
    transition: background-color 1s;
}
.social-midia{
    margin:1rem 0;
}
.item-SM{
    border: 1px solid rgb(233, 205, 184);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    
}
.link-SM:not(:first-child){
    margin-left: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%
}
.form input{
    height: 45px;
    border: none;
    width: 100%;
    background-color: snow;
    margin: 8px ;
   
}
.label-input{
    background-color: white;
    display: flex;
    align-items: center;
}
.password{
    color: coral;
    font-size: 14px;
    align-self: center;
}
/*Sign-in/up*/
.sign-in-js .first-content .first-colum, 
.sign-in-js .first-content .second-colum{
    z-index: -1;
}
.sign-in-js .second-content .first-colum,
.sign-in-js .second-content .second-colum{
   z-index: 12; 
}    
.sign-in-js .content::before{
    left:60%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.sign-up-js .second-content .first-colum,
.sign-up-js .second-content .second-colum{
    z-index: -1;
     
}
.sign-up-js .first-content .first-colum, 
.sign-up-js .first-content .second-colum{
    z-index: 12;
}
/*Animação CSS*/
